.windBox{
    text-align: center;
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 25px auto 0 auto;
    background-color: rgba(255,255,255,0.2);
    border-radius: 16px;
    padding: 10px 10px;
    color: #fff;
    font-weight: 900;
    text-shadow: 3px 6px rgba(50,50,70,0.5);
    box-shadow: 3px 6px rgba(0,0,0,0.2);
    height: 315px;
}
.windWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 50px 70px;
}
.iconWind{
    width: 70px;
    height: 30px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.windCompass{
    position: absolute;
}
.iconCompass{
    width: 200px;
    height: 200px;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}
.windTitle{
    position: absolute;
    bottom: 0;
    font-size: 30px;
}
@media (min-width: 420px) {
    .windBox{
        margin: 0;
    }
}