*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'monseratt', sans-serif;
}

.mainContainer {
  text-align: center;
  background-image: linear-gradient(225deg, rgb(226,226,226),rgb(197,197,197), rgb(107,107,107));
  background-size: cover;
  background-position: bottom;
  transition: 0.4s ease-out;
  position: relative;
  /*padding-top: 50px;*/
  height: 100%;
  padding: 25px 25px 25px 25px;
  /*display: flex;*/
}

.mainContainer.warm{
  /*background-image: url('assets/backgrounds/day.webp');*/
  background-image: linear-gradient(225deg, rgb(249,218,30), rgb(249,196,40),  rgb(241,92,33));
}
.mainContainer.cold{
  /*background-image: url('assets/backgrounds/day.webp');*/
  background-image: linear-gradient(225deg, rgb(11,211,198),rgb(51,196,223), rgb(26,118,194));
}
main{
  height: 100%;
  /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));*/
  padding: 25px;
}