*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'monseratt', sans-serif;
}

.App {
  text-align: center;
  background-image: url('./assets/night.webp');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease-out;
}

.App.warm{
  background-image: url('./assets/day.webp');
}
main{
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}